<!DOCTYPE html>
<html>
<head>
	<title>Bike Detail</title>
</head>
<body>
	<div>
	    <img src="{{image}}" style="width:30%; height:"/>
	</div>
	<div>Reg.No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{reg_no}}
	</div>
	<div>Model&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{model}}
	</div>
	<div>Km Driven&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{km_driven}}</div>
	<div>Top Speed&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{top_speed}} Km.</div>
	<div>Milege&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{milege}} Km.
	</div>
	<div>Fuel Capacity&nbsp;: {{fuel_capacity}} ltr
	</div>
</body>
</html>